@font-face{
    src: url(./fonts/DMSerifDisplay-Regular.ttf);
    font-family: "display-400";
    font-weight: 400;
}
@font-face{
    src: url(./fonts/Jost-Regular.ttf);
    font-family: "jost-400";
    font-weight: 400;
}
@font-face{
    src: url(./fonts/Jost-SemiBold.ttf);
    font-family: "jost-600";
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
    background: none;
}
body{
    font-family: "jost-400", sans-serif;
}